.bg-raja_rani{
    background: #FF1493 !important;
}

.bg-400D02{
    background: #400D02 !important;
}

table.borderless td,table.borderless th{
    border: none !important;
}

.rounded-pill {    
    height: calc(4.25rem + 2px) !important;
}

@media only screen and (max-width: 600px) {
    .rounded-pill {    
        height: calc(3.0rem + 1px) !important;
    }
  }